#about-cont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.about-title {
    font-size: min(calc(12px + 2vw), 64px);
    margin-bottom: 20px;
}

.about-inner-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.alex {
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alex div {
    height: 30%;
    min-width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.alex h1 {
    font-size: min(calc(12px + 2vw), 64px);
    font-weight: normal;
}

.alex div div{
    font-size: min(calc(12px + 1vw), 36px);
}

.alex img{
    min-width: 30vw;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
}

.school {
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.school img {
    min-width: 30vw;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
}

.school div {
    height: 30%;
    min-width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.school h1 {
    font-size: min(calc(8px + 2vw), 64px);
    font-weight: normal;
}

.school div div{
    font-size: min(calc(8px + 1vw), 36px);
}

.mobile-alex {
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
}

.mobile-alex div {
    height: 20%;
    min-width: 65%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mobile-alex h1 {
    font-size: 20px;
    font-weight: normal;
}

.mobile-alex div div{
    font-size: 12px;
}

.mobile-alex img {
    height: 70%;
}

.mobile-school {
    width: 90%;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mobile-school div {
    height: 20%;
    min-width: 65%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mobile-school h1 {
    font-size: 20px;
    font-weight: normal;
}

.mobile-school div div{
    font-size: 12px;
}

.mobile-school img {
    height: 70%;
}