#landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: max(32px, min(128px, 3vw));
}

#landing .landing-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

#landing .landing-background img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.landing-hook {
    height: 70%;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

.landing-down {
    max-height: 100px;
    height: 10%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1em;
}

.landing-down div {
    font-size: min(calc(12px + 1vw), 48px);
}

.landing-down img {
    height: 30%;
    opacity: 0.5;
}
 
@-webkit-keyframes bounce { 
    0%, 100% {-webkit-transform: translateY(0);}  
    50% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-15px);} 
}

.bounce { 
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}