#landing {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
}

#landing video {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.landing-down {
    height: 15%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
}

.landing-down div {
    font-size: min(calc(12px + 1vw), 48px);
}

.landing-down img {
    height: 20%;
    opacity: 0.5;
}
 
 @-webkit-keyframes bounce { 
    0%, 100% {-webkit-transform: translateY(0);}  
    50% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-15px);} 
 }
 
 .bounce { 
    animation-iteration-count: infinite;
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }