.menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.menu-container-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}

.menu {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name {
    font-size: min(calc(12px + 2vw), 64px);
    cursor: pointer;
}

.menu-nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container .menu .menu-nav .active {
    text-decoration: underline #00f5f5;
    color: white;
}

.menu-container .menu .menu-nav .link {
    text-decoration: none;
    color: white;
}

.menu-container-bg .menu .menu-nav .active {
    text-decoration: underline #00f5f5;
    color: black;
}

.menu-container-bg .menu .menu-nav .link {
    text-decoration: none;
    color: black;
}

.link-name {
    font-size: min(calc(8px + 1vw), 36px);
    cursor: pointer;
    transition: 0.2s;
}

.link-name:hover {
    text-decoration: underline #ff9100;
}

.menu-links {
    width: 7%;
    height: 100%;
    min-width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links a {
    width: 40%;
    aspect-ratio: 1;
}

.menu-links img {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1;
}
