.projects {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: calc(10vh + 30px);
}

.projects-list {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.projects-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.item-name {
    width: 100%;
    height: 5vh;
    font-size: min(calc(12px + 2vw), 64px);
    margin-bottom: 10px;
}
.item-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.item-image:hover {
    background-color: rgba(0, 0, 0, 0.4);;
}

.item-image img{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}