.work {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    flex-direction: column;
}

.work-jobs {
    margin-top: calc(10vh + 30px);
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}